<div class="">
  <div class="">
    <div class="">
      <div class="">
        <%= image_tag @rand_profile, :class => "" %>

          <div class="">
            <h3 class="">
              <%= @user_username %>
            </h3>
            <p class="">
              <%= Faker::TheFreshPrinceOfBelAir.quote %>
            </p>
          </div>
      </div>

      <div class="">
        <ul>
          <li>Tweets</li>
          <li> <%=  current_user.tweets.count %></li>
        </ul>

        <ul>
          <li>Following</li>
          <li><%= @user_following %></li>
        </ul>

        <ul>
          <li>Followers</li>
          <li><%=  @user_followers %></li>
        </ul>
      </div>

      <div class="">
        <h2 class="">Trending</h2>
        <hr class="">

        <ul class="">
          <% 10.times do |i| %>
            <li>
              <div class=""><%= Faker::Zelda.item %></div>
              <div class=""><%= rand(4000) + 42 %> People tweeting about this</div>
            </li>
          <% end %>
        </ul>

        <hr class="">
        <p class="">Twinter 2018 &copy all rights reserved.</p>
      </div>
    </div>


    <div class="">
      <div class="">
        <div><%= image_tag @rand_profile, class: "" %></div>
        <div class="">
          <%= simple_form_for(Tweet.new, remote: true) do |f| %>
            <%= f.input :content,as: :text, label: false, :error => false ,  placeholder: "What's happening?", input_html: {:rows => '6'} , :class => "",  autocomplete: "off"%>
        </div>
      </div>

      <div class="">
        <p><span class=""></span></p>
        <button class="" id="sendTweet" type="submit">Tweet</button>
        <% end %>
      </div>

      <ul class="timeline" id="timeline">
        <div class="timeline--page" id="timeline--tweets">
          <%= render @tweets %>
          <%= paginate @tweets %>
        </div>
      </ul>

    </div>
  </div>
</div>