<li class="timeline--list" id="tweet__<%= tweet.id %>">
  <div class="flex">
  <div class="profile profile__pic"><%= image_tag "profile-#{rand(4)}.png" %></div>

  <ul class="timeline__tweet-content">
    <li>
      <div class="profile__username flex flex__content-space-between">
          <span class="profile__user">@<%= tweet.user.username %></span>
          <span class="profile__delete-tweet"><%= link_to '×', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
    </li>
    <li><p>
        <%= auto_link(tweet.content, :html => { :target => '_blank' }) do |text| %>
        <% truncate(text, :length => 40) %>
        <% end %>
      </p></li>
  </ul>
  
  </div>
    
</li>