<li class="timeline__list" id="tweet__<%= tweet.id %>">
  <div class="flex">
  <div class="profile profile__pic"><%= image_tag "profile-#{rand(4)}.png" %></div>

  <ul class="timeline__tweet-content">
    <li>
      <div class="profile__username flex flex__content-space-between">
          <span class="profile__user">@<%= tweet.user.username %></span>
          <span class="profile__delete-tweet"><%= link_to '×', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </div>
    </li>
    <li>
      <p>
        <%= auto_link(tweet.content, :html => { :target => '_blank' }) do |text| %>
        <% truncate(text, :length => 40) %>
        <% end %>
      </p>
      <div class="timeline__actions">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <i class="fa fa-retweet" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
    </li>
  </ul>
  
  </div>
    
</li>