<div class="tweet" id="tweet__<%= tweet.id %>">
  <div class="flex">
    <%= image_tag "profile-#{rand(4)}.png", class: "profile profile__pic" %>

    <section class="tweet__content">
      <div>
        <div class="profile__username flex flex__content-space-between">
          <div>
            <%= link_to "#{tweet.user.username}",  user_path(tweet.user.username), remote: true, class: "profile__user" %>
            <%= link_to "@#{tweet.user.username}",  user_path(tweet.user.username), remote: true, class: "account__username-tag tweet__username-tag" %>
            <b class="account__username-tag tweet__username-tag essential__lighter">· <%= time_ago_in_words(tweet.created_at)%></b>
          </div>

          <% if current_user.username == tweet.user.username %>
            <div>
              <%= link_to '×', tweet, method: :delete, data: { confirm: 'Are you sure?' }, class: "profile__delete-tweet essential__display-none animated" %>
            </div>
          <% end %>
        </div>
      </div>

      <p>
        <%= auto_link(tweet.content, :html => { :target => '_blank' }) do |text| %>
          <% truncate(text, :length => 40) %>
        <% end %>
      </p>

      <div class="tweet__actions  animated"> <!--  essential__display-none -->
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <i class="fa fa-retweet" aria-hidden="true"></i>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
    </section>
  </div>
</div>