
<section class="profile__resume ">
  <div class="text__align-right profile__quit">
    <span class="quit">×</span>
  </div>

  <%= image_tag @rand_profile, :class => "account__pic profile--pic" %>
  <h3 class="account__text account__username">@<%= @user.username %></h3>
  <p class="account__text account__bio profile--bio"><%= Faker::TheFreshPrinceOfBelAir.quote %></p>

  <div class="flex flex__center-content">
    <div class="account__info flex__items">
        <b>Tweets</b>
        <p><%=  @user.tweets.count %></p>
    </div>
    <div class="account__info flex__items">
        <b>Following</b>
        <p><%= (@user.following_links.count - 1) %></p>
    </div>
    <div class="account__info flex__items">
        <b>Followers</b>
        <p><%=  Follow.all.where(follower_id: @user.id).count %></p>
    </div>
  </div>
</section>

<div>
  <div class="timeline__tweets" id="timeline__profile">
    <div class="timeline--page" id="timeline__profile-tweets">
      <%= render @tweets %>
      <%= paginate @tweets, params: {controller: 'tweets', action: 'tweets_user'} %>
    </div>
  </div>
  <div class="timeline__status text__align-center">
    <p class="infinite-scroll-last">There is no more tweets to load :(</p>   
  </div>
</div>