<div class="menu__logo essential__shadow--dark ">
  <%= image_tag "twitter-logo.png" %>
</div>

<div class="menu--profile">
  <%= image_tag @rand_profile, :class => "account__pic" %>
  <h3 class="account__text account__name"><%= current_user.username %></h3>
  <h4 class="account__text account__username">@<%= current_user.username %></h4>
  <p class="account__text account__bio"><%= Faker::TheFreshPrinceOfBelAir.quote %></p>

  <section class="flex flex__center-content account__divider">
    <div class="account__info flex__items">
        <b>Tweets</b>
        <p><%=  current_user.tweets.count %></p>
    </div>

    <div class="account__info flex__items">
        <b>Following</b>
        <p><%= @follow_user.count - 1 %></p>
    </div>

    <div class="account__info flex__items">
        <b>Followers</b>
        <p><%= @followed_user.count %></p>
    </div>
  </section>

  <section>
    <ul class="menu__items flex space__major-bottom">
      <li>
        <a class="new-tweet__menu" id="open-tweet-model">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Tweet
        </a>
      </li>
      <li>
        <%= link_to root_path do %>
          <i class="fa fa-search" aria-hidden="true"></i>Search
        <% end %>
      </li>
      <li>
        <%= link_to root_path do %>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>Messages
        <% end %>
      </li>
      <li>
       
      </li>
    </ul>
  </section>

  <div class="footer__menu" id="footer__menu">
    <ul class="essential__display-none animated menu__option" id="log-out-option">
      <li><%= link_to "Profile", edit_user_registration_path, remote:true %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    </ul>
    <p id="footer__menu-index">
      <i class="fa fa-cogs" aria-hidden="true"></i>Options
    </p>
  </div>

  <footer>
    <p class="footer__footer">Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://github.com/rochabianca" target="_blank">Bianca Rocha</a></p>
  </footer>
</div>