
<section class="grid__column grid__column--1 menu menu__fixed flex">

    <div class="menu__menu">
      <div class="menu__logo"><%= image_tag "twitter-logo.png", :class => "" %></div>
      <div class="menu--profile">
        <div class="menu__pic"><%= image_tag @rand_profile, :class => "" %></div>
        <h3 class="menu__text menu__username">@<%= @user_username %></h3>
        <p class="menu__text menu__bio"><%= Faker::TheFreshPrinceOfBelAir.quote %></p>

        <section class="flex flex__center-content">
          <div class="menu__info flex__items">
              <b>Tweets</b>
              <p><%=  current_user.tweets.count %></p>
          </div>

          <div class="menu__info flex__items">
              <b>Following</b>
              <p><%= @user_following %></p>
          </div>

          <div class="menu__info flex__items">
              <b>Followers</b>
              <p><%=  @user_followers %></p>
          </div>
        </section>

        <section>
          <ul class="menu__items flex space__medium-top space__major-bottom">
            <a class="menu__new-tweet" id="open-tweet-model"><li><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Tweet</li></a>
            <%= link_to root_path do %>
              <li><i class="fa fa-home"></i>Home</li>
            <% end %>
            <%= link_to root_path do %>
            <li><i class="fa fa-at" aria-hidden="true"></i><span>Mentions</span></li>
            <% end %>
            <%= link_to edit_user_registration_path do %>
            <li><i class="fa fa-user" aria-hidden="true"></i> <span>Profile</span></li>
            <% end %>
          </ul>
        </section>

        <footer class="menu__footer" id="menu__footer">
            <ul class="essential__display-none animated menu__option" id="log-out-option">
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "" %></li>
            </ul>
            <p id="menu__footer-index"><i class="fa fa-cogs" aria-hidden="true"></i></p>
        </footer>
      </div>
    </div> <!-- fim div do menu -->

    <div class="new-tweet essential__display-none"> <!-- aba tweet -->
      <div class="new-tweet__header flex flex__content-space-between"><span>New Tweet</span> <span class="new-tweet__quit" id="new-tweet__quit">×</span></div>
      <div class="space__major-top new-tweet__input">
        <h3>From: @<%= @user_username %></h3>
        <%= simple_form_for(Tweet.new, remote: true) do |f| %>
          <%= f.input :content,as: :text, label: false, :error => false ,  placeholder: "What's happening?", input_html: {:rows => '5'} , :class => "",  autocomplete: "off"%>
          <div class="space__minor-top flex flex__content-space-between flex__align-center">
            <span class="caracteres"></span>
            <button class="button button__tweet" id="sendTweet" type="submit">Tweet</button>
          </div>
          <% end %>
      </div>
    </div> <!-- fim aba tweet -->

</section>

<div class="grid space__menu">
  <section class="grid__column grid__column--6 timeline timeline__margin">
    <div class="timeline__header flex flex__content-space-between flex__align-center"><span></span><h3>Timeline</h3> <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>

    <ul class="timeline__tweets" id="timeline">
        <div class="timeline--page" id="timeline--tweets">
          <%= render @tweets %>
          <%= paginate @tweets %>
        </div>
      </ul>
  </section>

  <section class="grid__column grid__column--4 timeline" id="mentions">
      <div class="timeline__header flex flex__content-space-between flex__align-center"><span></span><h3>Mentions</h3> <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
  </section>

  <section class="grid__column grid__column--2 timeline" id="trending">
      <div class="timeline__header  flex flex__content-space-between flex__align-center"><span></span><h3>Trending</h3> <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
      <ul class="timeline__trending">
          <% 10.times do |i| %>
            <li>
              <div class="timeline__trending-title"><%= Faker::Zelda.item %></div>
              <div class="timeline__trending-description"><%= Faker::WorldOfWarcraft.quote %></div>
              <div class="timeline__trending-people"><%= rand(4000) + 42 %> People tweeting about this</div>
            </li>
          <% end %>
        </ul>
  </section>

  <section class="grid__column grid__column--6 essential__relative profile__card essential__display-none" id="profile-card">
    <div id="profile_card-content"> loading </div>
    </div>

  </section>
</div> <!-- fim do grid -->

