<div class="grid">
  <section class="grid__column grid__column--2 menu menu__fixed">
    <div class="menu--logo"><%= image_tag "twitter-logo.png", :class => "" %></div>
    <div class="menu--profile">
      <div class="menu--pic"><%= image_tag @rand_profile, :class => "" %></div>
      <h3 class="menu--text menu--username">@<%= @user_username %></h3>
      <p class="menu--text menu--bio"><%= Faker::TheFreshPrinceOfBelAir.quote %></p>

      <section class="flex flex__center-content">
        <div class="menu__info flex__items">
            <b>Tweets</b>
            <p><%=  current_user.tweets.count %></p>
        </div>

        <div class="menu__info flex__items">
            <b>Following</b>
            <p><%= @user_following %></p>
        </div>

        <div class="menu__info flex__items">
            <b>Followers</b>
            <p><%=  @user_followers %></p>
        </div>
      </section>

      <section>
        <ul class="menu--items flex space__major-bottom">
          <%= link_to root_path do %>
            <li><i class="fa fa-home"></i>Home</li>
          <% end %>
          <%= link_to root_path do %>
          <li><i class="fa fa-at" aria-hidden="true"></i><span>Mentions</span></li>
          <% end %>
          <%= link_to edit_user_registration_path do %>
          <li><i class="fa fa-user" aria-hidden="true"></i> <span>Profile</span></li>
          <% end %>
        </ul>
      </section>

      <footer class="menu__footer">
          <p><i class="fa fa-cogs" aria-hidden="true"></i></p>
      </footer>



    </div>
  </section>
</div>