
<section class="grid__column grid__column--1 menu essential__fixed flex">
  <div class="menu__menu essential__shadow--dark ">
    <%= render "/home/menu" %>
  </div>

  <div class="new-tweet essential__display-none animated">
    <%= render "/home/new-tweet" %>
  </div>
</section>

<div class="grid space__menu">
  <%= render "home/timeline" %>
  
  <div class="removable grid grid__column grid__column--6">
    <%= render "/home/mentions" %>
    <%= render "/home/trending" %>
  </div>

  <section class="grid__column grid__column--6 essential__relative profile__card essential__display-none timeline__scroll animated" id="profile-card">
    <%= render "/home/loading" %>
    <div class="essential__display-none" id="profile_card-content">
    </div>
  </section>
</div>

<div class="profile__bg essential__display-none animated">
</div>