<div class="grid space--minor-top ">
  <div class="container flex flex--wrap flex--flex-start">

  <div class="grid__column grid__column--3 only-desktop space--minor-right">

    <div class="profile-card bg--option divider--minor-bottom divider--medium-top flex--center text--center left-margin">
      <%= image_tag @rand_profile, :class => "profile-card--image" %>

      <div class="profile-card--user">
        <h3 class="profile-card--username"> <%= @user_username %> </h3>
        <p class="profile-card--quote"> <%= Faker::TheFreshPrinceOfBelAir.quote %> </p>
      </div>

    </div>

      <div class="flex profile-card--followers bg--white space--minor-bottom profile-card--border">
        <ul>
          <li>Tweets</li>
          <li><%=  current_user.tweets.count %></li>
        </ul>

        <ul>
          <li>Following</li>
          <li><%= @user_following %></li>
        </ul>
        <ul>

          <li>Followers</li>
          <li><%=  @user_followers %></li>
        </ul>
      </div>



    <div class="bg--white left-margin">
      <h2 class="home--title">Trending</h2>
      <hr class="line space--minor-bottom">

      <ul class="home--thrending space--medium-bottom">
        <% 10.times do |i| %>
          <li><%= Faker::Zelda.item %></li>
        <% end %>
      </ul>

     <hr class="line space--minor-bottom">
      <p class="color--black text--center text--small divider--minor-bottom">Twinter 2018 &copy all rights reserved.</p>
    </div>
    </div>


    <div class="grid__column grid__column--8 bg--white left-margin">
      <div class="new-tweet">
        <div>
          <%= image_tag @rand_profile, class: "timeline--profile space--minor-right" %>
        </div>
        <textarea id="new-tweet" cols="8" rows="3"></textarea>
        </div>
        <div class="new-tweet--button">
          <p>Caracteres: <span class="caracteres"></span></p>
          <button class="button">Tweet</button>
        </div>

      <ul class="timeline">
      <% @tweets.each do |tweet| %>
        <li class="timeline--list">
        <hr class="line space--minor-bottom">
          <ul class="flex">
            <li><%= image_tag "profile-#{rand(3)}.png", :class => "timeline--profile space--minor-right" %></li>
            <div>
            <li class="timeline--username">@<%= tweet.user.username %></li>
            <li class="timeline--tweet"><%= tweet.content %></li>
            <div>
          </ul>
        </li>
      <% end %>
      </ul>
    </div>
    
  </div>
</div>