<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="devise">
  <div class="grid center">
    <div class="grid__column grid__column--12">
      <% if notice %>
        <p class="alert alert-success animated slideInDown"><%= notice %></p>
      <% end %>
    </div>
    
    <div class="grid__column grid__column--12">
      <% if alert %>
        <p class="alert alert-danger animated slideInDown"><%= alert %></p>
      <% end %>
    </div>
  
  </div>

  <div class="grid center flex--sign-up flex--center flex--wrap mobile-grid space--major-bottom">
    <%= yield %>
  </div>

  </body>
</html>
