<!DOCTYPE html>
<html>
  <head>
    <title>Devise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="devise">
  <div class="grid">
    <div class="grid__column grid__column--12">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
    </div>
    
    <div class="grid__column grid__column--12">
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    </div>


    <%= yield %>
    </div>
  </body>
</html>
